section {
  margin: 10px 10px;
}

.wrapper {
  display: grid;
  grid-template-columns: 60px 64px 1fr 140px;
  //grid-template-columns: 60px 64px 1fr 140px;
  grid-template-rows: auto auto;
  background-color: #7a98ff;
  color: #ff6885;
}

.content {
  grid-column: 1 / span 4;
  grid-row: 2;
}
