<template>
  <require from="syncfusion-javascript/Content/ej/web/ej.widgets.core.bootstrap.min.css"></require>
  <require from="syncfusion-javascript/Content/ej/web/bootstrap-theme/ej.theme.min.css"></require>
  <require from="syncfusion-javascript/Content/ej/web/responsive-css/ej.responsive.css"></require>
  <require from="bootstrap/css/bootstrap.css"></require>

  <require from="sass/index.css"></require>
  <require from="./nav-bar"></require>
  <require from="../components/my-drawer"></require>

  <div class="desktop" id="desktop">

    <div class="wrapper">
      <my-drawer router.bind="router"></my-drawer>
      <img src="images/funnyanimal.png" height="40px" width="65px">
    </div>

    <router-view></router-view>
  </div>
</template>
