<template>
  <div id="navigationPane">
    <ul>
      <li data-ej-text="Home"></li>
      <li data-ej-text="Profile"></li>
      <li data-ej-text="Photos"></li>
      <li data-ej-text="Location"></li>
    </ul>
  </div>

  <div id="target" class="icon-target"></div>
  <style>
    [class*="icon-"] {
      background-image: url("./images/hambuger-menu.png")}

    .icon-target {
      background-position: 0 -338px;
      font-size: 34px;
      height: 44px;
      position: absolute;
      text-indent: 50px;
      top: -3px;
      width: 58px;

      z-index: 3;
    }



  </style>


</template>
