<template>
  <div id="navigationDrawer">
    <ul>
      <li repeat.for="row of router.navigation" data-ej-imageclass=${row.settings.icon} data-ej-text=${row.title}
          data-ej-navigateurl="${row.href}">
      </li>
    </ul>
  </div>
  <div id="target" class="icon-target"></div>

  <style>
    [class*="icon-"] {
      background-image: url("./images/hambuger-menu.png")}

    .icon-target {
      background-position: 0 -338px;
      font-size: 34px;
      height: 43px;
      position: absolute;
      text-indent: 50px;
      top: -3px;
      width: 58px;
      z-index: 3;
    }

  </style>


</template>
